//Styles for checkbox component

.checkbox
  border-radius 3px
  height 14px
  box-sizing border-box
  width 14px
  display inline-block
  margin 0 auto
  background-color #5d5b5c
  padding 1px
  box-shadow inset 2px 2px 7px 0px rgba(0,0,0,0.32)
  cursor pointer
  cursor hand
  font-size 12px

  .fa-check
    color #fff
    opacity 0
    font-size 12px

  &.checked
    height 14px
    width 14px

    .fa-check
      opacity 1